.typewriter-location {
  position: absolute;
  left:9vh;
  bottom: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  height: 100%;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}
